<div th:fragment="footer">
    <footer class="fixed-bottom44 bg-black" style=" color: white; text-align: center; ">
        <div class="row44">
            <div class="row">
                <div class="col-4" style="margin-top: 80px;"><!-- Sol taraf -->
                    <h3>Bağlantılar</h3>
                    <ul class="list-unstyled">
                        <li class="mb-2"><a th:href="@{/}">Anasayfa</a></li>
                        <li class="mb-2"><a th:href="@{/communication}">İletişim</a></li>
                        <li class="mb-2"><a th:href="@{/profile}">Profilim</a></li>
                    </ul>
                </div>
                <div class="col-4" style="margin-top: 50px;"><!-- Orta taraf -->
                    <h3>Hakkımızda</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis dolores
                        minus nihil laboriosam accusamus architecto. Eos cumque dicta quas earum odio perferendis odit
                        sed unde, fugit fuga harum illum voluptatum!</p>
                </div>
                <div class="col-4" style="margin-top: 80px;"><!-- Sağ taraf -->
                    <h3>İletişim</h3>
                    <p>Email: info@hotmail.com<br>Phone: +0555 555 55 55<br>Adress: İzmir/Turkey</p>
                </div>
                <div class="fixed-bottom44 " style=" background-color: black;">
                    <br>
                    <label for="">Design by ARDA KARA 2025</label>
                </div>
            </div>
    </footer>
</div>