<div th:fragment="navbar">
    <nav class="navbar navbar-expand-md navbar-dark bg-black fixed-top">
        <a class="navbar-brand ml-3" th:href="@{/}">Logo</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Anasayfa<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownIdCategories" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Kategoriler</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownIdCategories">
                        <a class="dropdown-item" th:href="@{/category}">Edebiyat</a>
                        <a class="dropdown-item" th:href="@{/category}">Roman</a>
                        <a class="dropdown-item" th:href="@{/category}">Kişisel Gelişim</a>
                        <a class="dropdown-item" th:href="@{/category}">Çocuk ve Gençlik</a>
                        <a class="dropdown-item" th:href="@{/category}">Araştırma - Tarih</a>
                        <a class="dropdown-item" th:href="@{/category}">Yabancı Dilde Kitaplar</a>
                        <a class="dropdown-item" th:href="@{/category}">Felsefe Kitapları</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/communication}">İletişim</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownIdLanguages" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Diller</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownIdLanguages">
                        <a class="dropdown-item" th:href="@{/lang/en}">EN</a>
                        <a class="dropdown-item" th:href="@{/lang/tr}">TR</a>
                        <a class="dropdown-item" th:href="@{/lang/ge}">GE</a>
                    </div>
                </li>
            </ul>

            <ul class="navbar-nav mr-auto mt-2 mt-lg-0 search_container">
                <li class="nav-item">
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2 my-sm-0" type="text" id="tags"
                            placeholder="Aradığınız ürün, kategori veya markayı yazınız.">
                        <button class="btn btn-outline-success my-2 my-sm-0" id="search_button" type="submit">
                            <span class="fas fa-search"></span>
                        </button>
                    </form>
                </li>
            </ul>

            <ul class="navbar-nav navbar-right mr-5">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownIdUser" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <span id="nav_icon1" class="fas fa-user"></span>
                        <span th:text="${name != null ? name : 'Misafir'}"></span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownIdUser">
                        <div th:if="${name == null}">
                            <a class="dropdown-item" th:href="@{/login}">Giriş yap</a>
                            <a class="dropdown-item" th:href="@{/register}">Kayıt ol</a>
                        </div>

                        <div th:if="${name != null}">
                            <a class="dropdown-item" href="#">
                                <p>Hoş geldin, <span th:text="${name}">Kullanıcı</span>!</p>
                                <p>Rol: <span th:text="${role}">Rol</span></p>
                            </a>
                            <a class="dropdown-item" th:href="@{/my-profile}">
                                <i class="fa-slab-press fa-regular fa-address-card"></i> Profilim
                            </a>
                            <a class="dropdown-item" th:href="@{/logout}"><i
                                    class="fa-notdog-duo fa-solid fa-arrow-right-to-bracket"></i> Çıkış Yap</a>
                        </div>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownIdBasket" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <span id="nav_icon2" class="fas fa-shopping-basket"></span>
                        <span class="badge badge-percent">(2)</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownIdBasket">
                        <a class="dropdown-item" href="#sepetModal" data-toggle="modal" data-target="#sepetim">Sepet</a>
                        <a class="dropdown-item" th:href="@{/ordered}">Siparişlerim</a>
                    </div>
                </li>

                <li class="nav-item dropdown" th:if="${role != null and role == 'ROLE_ADMIN'}">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownIdInfo" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <span id="nav_icon3" class="fas fa-info-circle"></span> ADMİN
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownIdInfo">
                        <a class="dropdown-item" th:href="@{/bookoperations}">CRUD ADMİN</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>
